{% extends "zh.base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>{{ _('登入') }}</h1>
    <div class="row">
        <div class="col-md-4">{{ wtf.quick_form(form) }}</div>
    </div>
    <br/>
    <p>
        {{ _('新用戶?') }} <a href="/zh/register">{{ _('點擊註冊!') }}</a>
    </p>
    <p>
        {{ _('忘記密碼?') }}
        <a href="{{ url_for('reset_password_request') }}">{{ _('點擊重設密碼') }}</a>
    </p>

    繼續使用即表示您同意泊易香港 (EaseParkHK)的 <a href="/privacy_policy">{{ _('隱私政策') }}</a>
    


<script>
    function toggleChatbox() {
        const chatboxPopup = document.getElementById('chatbox-popup');
        chatboxPopup.style.display = chatboxPopup.style.display === 'none' ? 'block' : 'none';
    }
</script>
{% endblock %}